@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Roboto';


$black: #000;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	background: $black;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}